table.basic-table { 
    width: 100%; 
    border: 1px solid #444444;
    border-collapse: collapse;
}

table.basic-table th, table.basic-table td {
    border: 1px solid #444444;
    padding: 5px 10px;
    text-align: center;
}

table.border-table {
    border: 2px solid #444444;
}

.table-active {
    background-color: gray!important;
    -webkit-print-color-adjust: exact!important; 
    color-adjust: exact!important;
}

.supervisor-table th, .supervisor-table td {
    padding: 0px!important;
}

.back-white {
    background-color: white!important;
    -webkit-print-color-adjust: exact!important; 
    color-adjust: exact!important;
}

/* 기본 CSS */
.fwb { font-weight: bold!important; }

.tal { text-align: left!important; }
.tar { text-align: right!important; }
.tac { text-align: center!important; }

.fl { float: left!important; }
.fr { float: right!important; }

.fs1 { font-size: 1px!important; } 
.fs2 { font-size: 2px!important; } 
.fs3 { font-size: 3px!important; } 
.fs4 { font-size: 4px!important; } 
.fs5 { font-size: 5px!important; } 
.fs6 { font-size: 6px!important; } 
.fs7 { font-size: 7px!important; } 
.fs8 { font-size: 8px!important; } 
.fs9 { font-size: 9px!important; } 
.fs10 { font-size: 10px!important; } 
.fs11 { font-size: 11px!important; } 
.fs12 { font-size: 12px!important; } 
.fs13 { font-size: 13px!important; } 
.fs14 { font-size: 14px!important; } 
.fs15 { font-size: 15px!important; } 
.fs16 { font-size: 16px!important; } 
.fs17 { font-size: 17px!important; } 
.fs18 { font-size: 18px!important; } 
.fs19 { font-size: 19px!important; } 
.fs20 { font-size: 20px!important; }
.fs30 { font-size: 30px!important; }
.fs40 { font-size: 40px!important; }
.fs50 { font-size: 50px!important; }

.lhg10 { line-height: 10px!important; }
.lhg20 { line-height: 20px!important; }
.lhg25 { line-height: 25px!important; }
.lhg26 { line-height: 26px!important; }
.lhg27 { line-height: 27px!important; }
.lhg30 { line-height: 30px!important; }

.m0 { margin: 0px!important; } 
.m10 { margin: 10px!important; } 
.m20 { margin: 20px!important; }
.m30 { margin: 30px!important; }
.m40 { margin: 40px!important; }
.m50 { margin: 50px!important; }
.m60 { margin: 60px!important; }
.m70 { margin: 70px!important; }
.m80 { margin: 80px!important; }
.m90 { margin: 90px!important; }
.m100 { margin: 100px!important; }

.mt0 { margin-top: 0px!important; } 
.mt1 { margin-top: 1px!important; } 
.mt10 { margin-top: 10px!important; } 
.mt20 { margin-top: 20px!important; }
.mt30 { margin-top: 30px!important; }
.mt40 { margin-top: 40px!important; }
.mt50 { margin-top: 50px!important; }
.mt60 { margin-top: 60px!important; }
.mt70 { margin-top: 70px!important; }
.mt80 { margin-top: 80px!important; }
.mt90 { margin-top: 90px!important; }
.mt100 { margin-top: 100px!important; }

.mb0 { margin-bottom: 0px!important; } 
.mb10 { margin-bottom: 10px!important; } 
.mb20 { margin-bottom: 20px!important; }
.mb30 { margin-bottom: 30px!important; }
.mb40 { margin-bottom: 40px!important; }
.mb50 { margin-bottom: 50px!important; }
.mb60 { margin-bottom: 60px!important; }
.mb70 { margin-bottom: 70px!important; }
.mb80 { margin-bottom: 80px!important; }
.mb90 { margin-bottom: 90px!important; }
.mb100 { margin-bottom: 100px!important; }

.mr1{ margin-right: 1px!important; }

.pl3 { padding-left: 3px!important; }
.pr3 { padding-left: 3px!important; }

.p0 { padding: 0px!important; } 
.p5 { padding: 5px!important; } 
.p10 { padding: 10px!important; } 
.p20 { padding: 20px!important; }
.p30 { padding: 30px!important; }
.p40 { padding: 40px!important; }
.p50 { padding: 50px!important; }
.p60 { padding: 60px!important; }
.p70 { padding: 70px!important; }
.p80 { padding: 80px!important; }
.p90 { padding: 90px!important; }
.p100 { padding: 100px!important; }

.pt10 { padding-top: 10px!important; } 
.pt20 { padding-top: 20px!important; }
.pt30 { padding-top: 30px!important; }
.pt40 { padding-top: 40px!important; }
.pt50 { padding-top: 50px!important; }
.pt60 { padding-top: 60px!important; }
.pt70 { padding-top: 70px!important; }
.pt80 { padding-top: 80px!important; }
.pt90 { padding-top: 90px!important; }
.pt100 { padding-top: 100px!important; }

.pb10 { padding-bottom: 10px!important; } 
.pb20 { padding-bottom: 20px!important; }
.pb30 { padding-bottom: 30px!important; }
.pb40 { padding-bottom: 40px!important; }
.pb50 { padding-bottom: 50px!important; }
.pb60 { padding-bottom: 60px!important; }
.pb70 { padding-bottom: 70px!important; }
.pb80 { padding-bottom: 80px!important; }
.pb90 { padding-bottom: 90px!important; }
.pb100 { padding-bottom: 100px!important; }

.wd5 { width: 5px!important; }
.wd10 { width: 10px!important; }
.wd12 { width: 12px!important; }
.wd15 { width: 15px!important; }
.wd17 { width: 17px!important; }
.wd18 { width: 18px!important; }
.wd20 { width: 20px!important; }
.wd25 { width: 25px!important; }
.wd30 { width: 30px!important; }
.wd40 { width: 40px!important; }
.wd50 { width: 50px!important; }
.wd60 { width: 60px!important; }
.wd70 { width: 70px!important; }
.wd80 { width: 80px!important; }
.wd90 { width: 90px!important; }
.wd100 { width: 100px!important; }
.wd110 { width: 110px!important; }
.wd120 { width: 120px!important; }
.wd130 { width: 130px!important; }
.wd140 { width: 140px!important; }
.wd150 { width: 150px!important; }

.wd1p { width: 1%!important; }
.wd2p { width: 2%!important; }
.wd3p { width: 3%!important; }
.wd4p { width: 4%!important; }
.wd5p { width: 5%!important; }
.wd10p { width: 10%!important; }
.wd15p { width: 15%!important; }
.wd17p { width: 17%!important; }
.wd18p { width: 18%!important; }
.wd20p { width: 20%!important; }
.wd25p { width: 25%!important; }
.wd30p { width: 30%!important; }
.wd40p { width: 40%!important; }
.wd50p { width: 50%!important; }
.wd60p { width: 60%!important; }
.wd70p { width: 70%!important; }
.wd80p { width: 80%!important; }
.wd90p { width: 90%!important; }
.wd100p { width: 100%!important; }
.wd110p { width: 110%!important; }
.wd120p { width: 120%!important; }
.wd130p { width: 130%!important; }
.wd140p { width: 140%!important; }
.wd150p { width: 150%!important; }

.hg5 { height: 5px!important; }
.hg10 { height: 10px!important; }
.hg20 { height: 20px!important; }
.hg23 { height: 23px!important; }
.hg24 { height: 24px!important; }
.hg25 { height: 25px!important; }
.hg30 { height: 30px!important; }
.hg40 { height: 40px!important; }
.hg50 { height: 50px!important; }
.hg60 { height: 60px!important; }
.hg70 { height: 70px!important; }
.hg80 { height: 80px!important; }
.hg90 { height: 90px!important; }
.hg100 { height: 100px!important; }
.hg110 { height: 110px!important; }
.hg120 { height: 120px!important; }
.hg130 { height: 130px!important; }
.hg140 { height: 140px!important; }
.hg150 { height: 150px!important; }